/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/vendor/

# Allow custom code
!/web/modules/custom/
!/web/themes/custom/

# Ignore sensitive files
/web/sites/*/settings.php
/web/sites/*/services.yml

# Ignore files directory
/web/sites/*/files/

# Allow config
!config/
!config/sync/
!config/sync/*.yml
